Babel==2.4.0
CairoSVG==2.0.3
Jinja2==2.9.6
Mako==1.0.7
MarkupSafe==1.0
PyYAML==3.12
Pygments==2.2.0
SQLAlchemy==1.1.12
Scrapy==1.4.0
Twisted==17.5.0
agate==1.6.0
agate-stats==0.4.0
alembic==0.9.4
argparse==1.4.0
backports-abc==0.5
backports.ssl-match-hostname==3.5.0.1
beautifulsoup4==4.6.0
bokeh==0.12.6
cairocffi==0.8.0
certifi==2017.7.27.1
cffi==1.10.0
characteristic==14.3.0
cryptography==2.0.2
cssselect==1.0.1
dataset==0.8.0
decorator==4.1.2
enum34==1.1.6
functools32==3.2.3.post2
futures==3.1.1
fuzzywuzzy==0.15.1
httplib2==0.10.3
hypchat==0.21
idna==2.5
ipaddress==1.0.18
ipykernel==4.6.1
ipython==6.1.0
ipython-genutils==0.2.0
isodate==0.5.4
jsonschema==2.6.0
jupyter-client==5.1.0
jupyter-core==4.3.0
lxml==3.8.0
mistune==0.7.4
nbconvert==5.2.1
nbformat==4.3.0
normality==0.4.4
notebook==5.0.0
numpy==1.13.1
oauth==1.0.1
oauth2==1.9.0.post1
oauthlib==2.0.2
parsedatetime==2.4
path.py==10.3.1
pdfdocument==3.2
pdfminer==20140328
pdftables==0.0.4
pexpect==4.2.1
pickleshare==0.7.4
ptyprocess==0.5.2
pyOpenSSL==17.2.0
pyasn1==0.3.1
pyasn1-modules==0.0.10
pycparser==2.18
pygal==2.4.0
pygal-maps-world==1.0.2
python-dateutil==2.6.1
python-editor==1.0.3
pytimeparse==1.1.6
pytz==2017.2
pyzmq==16.0.2
queuelib==1.4.2
requests==2.18.2
requests-oauthlib==0.8.0
selenium==3.4.3
service-identity==17.0.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.10.0
slate==0.5.2
terminado==0.6
tinycss==0.4
tornado==4.5.1
traitlets==4.3.2
tweepy==3.5.0
w3lib==1.17.0
wsgiref==0.1.2
xlrd==1.0.0
zope.interface==4.4.2
